/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body, header, nav, main, section, footer, img, figure, figcaption, div, ol, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 100%;
}

/* Body and page styles */
body {
  height: 100%;
  font-family: "DM Sans", Verdana, Helvetica, sans-serif;
}

/* Style rule for box sizing applies to all elements */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", Georgia, serif;
}

.numericDisplay {
  font-family: "DM Mono", monospace;
}
